.menu{
    margin: auto;
}

button, input{
    height: 50px;
    width: 50px;
    font-size: 25px;
    margin: 0px 5px 0px 5px;
    border-radius: 10px;
    border: 1px solid darkgray;
}

button{
    background-color: white;
}

input{
    padding-left: 10px;
}

.color{
    border: none;
    background-color: white;
    padding: 0px;
}

span{
    margin: 0px 10px 0px 20px;
}

button:hover, .color:hover{
    cursor: pointer;
}